body {
   padding: 0;
   margin: 0;
   overflow: hidden;
   background-color: #444;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    height: 768px;
    margin-top: -384px;
    margin-left: -512px;
   -moz-box-shadow: 0 0 25px #000;
   -webkit-box-shadow: 0 0 25px #000;
   box-shadow: 0 0 25px #000;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

.lost {
  background-color: #700 !important;
}

.ball-0 {
   color: rgba(255, 89, 149, 0.8);
}

.ball-1 {
   color: rgba(253, 151, 31, 0.8);
}

.ball-2 {
   color: rgba(254, 237, 108, 0.8);
}

.ball-3 {
   color: rgba(140, 237, 255, 0.8);
}

.ball-4 {
   color: rgba(182, 227, 84, 0.8);
}

.bullet-1 {
   color: #ff5995;
}

.bullet-2 {
   color: #95ff59;
}

.grapnel-1 {
   color: #ff5995;
}

.grapnel-2 {
   color: #95ff59;
}

.player-1 {
   color: #5e3fbe;
}

.player-2 {
   color: #be5e3f;
}
  
