body {
   padding: 0;
   margin: 0;
   overflow: hidden;
   background-color: #1b1d1e;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;
    border: #000 2px solid;
}

.lost {
  background-color: #700 !important;
}

.ball-0 {
   color: rgba(255, 89, 149, 0.8);
}

.ball-1 {
   color: rgba(253, 151, 31, 0.8);
}

.ball-2 {
   color: rgba(254, 237, 108, 0.8);
}

.ball-3 {
   color: rgba(140, 237, 255, 0.8);
}

.ball-4 {
   color: rgba(182, 227, 84, 0.8);
}

.bullet-1 {
   color: #ff5995;
}

.bullet-2 {
   color: #95ff59;
}

.grapnel-1 {
   color: #ff5995;
}

.grapnel-2 {
   color: #95ff59;
}

.player-1 {
   color: #5e3fbe;
}

.player-2 {
   color: #be5e3f;
}
  
