body {
   padding: 0;
   margin: 0;
   overflow: hidden;
   background-color: #444;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    height: 768px;
    margin-top: -384px;
    margin-left: -512px;
   -moz-box-shadow: 0 0 25px #000;
   -webkit-box-shadow: 0 0 25px #000;
   box-shadow: 0 0 25px #000;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

.lost {
  background-color: #222 !important;
}

.ball-0 {
   color: rgb(50, 50, 50);
}

.ball-1 {
   color: rgb(45, 45, 45);
}

.ball-2 {
   color: rgb(40, 40, 40);
}

.ball-3 {
   color: rgb(35, 35, 35);
}

.ball-4 {
   color: rgb(30, 30, 30);
}

.bullet-1 {
   color: #333333;
}

.bullet-2 {
   color: #262626;
}

.grapnel-1 {
   color: #333333;
}

.grapnel-2 {
   color: #262626;
}

.player-1 {
   color: #181818;
}

.player-2 {
   color: #101010;
}

.score {
   text-shadow: 0 0 5px #000000;
}

.score-1 {
   position: absolute;
   top: 0;
   left: 0;
}

.score-2 {
   position: absolute;
   top: 0;
   right: 0;
}